* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Staatliches', cursive;
	font-size: 16px;
}

.infobox {
	border: 2px solid pink;
	width: 400px;
	height: 500px;
	margin: auto;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	background-color: #631145;
	color: #F24D0C;
	padding: 50px;
	text-align: center;
}

.infobox h3 {
	font-size: 2.6em;
}